/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
    overflow: hidden; /* Prevent scrolling */
}

/* Header Styles */
header {
    background-color: rgb(102, 105, 240);
    padding: 20px;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: rgb(96, 95, 143);
}

/* Home Page Styles */
.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f3f4;
    padding: 20px;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.hero-image-container {
    flex: 1;
    text-align: center;
}

.hero-image {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.hero-text {
    flex: 1;
    padding-left: 50px;
    color: rgb(96, 95, 143);
}

.hero-text h2 {
    color: rgb(102, 105, 240);
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero-text p {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.app-store-button {
    background-color: rgb(102, 105, 240);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.app-store-button:hover {
    background-color: rgb(96, 95, 143);
}

.app-info {
    margin-top: 20px;
    font-size: 1em;
}

/* Privacy Policy and Contact Styles */
.privacy-section, .contact-section {
    padding: 50px 20px;
    background-color: white;
    margin-top: 80px;
    border-radius: 8px;
}

/* Footer Styles */
footer {
    background-color: rgb(102, 105, 240);
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}